In [1]:
import pandas as pd
import numpy as np
import seaborn

In [2]:
df = pd.read_csv('NBA_Player_Stats.csv')

In [3]:
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Mahmoud Abdul-Rauf,PG,28,SAC,31,0,17.1,3.3,8.8,...,0.2,1.0,1.2,1.9,0.5,0.0,0.6,1.0,7.3,1997-1998
1,2,Tariq Abdul-Wahad,SG,23,SAC,59,16,16.3,2.4,6.1,...,0.7,1.2,2.0,0.9,0.6,0.2,1.1,1.4,6.4,1997-1998
2,3,Shareef Abdur-Rahim,SF,21,VAN,82,82,36.0,8.0,16.4,...,2.8,4.3,7.1,2.6,1.1,0.9,3.1,2.5,22.3,1997-1998
3,4,Cory Alexander,PG,24,TOT,60,22,21.6,2.9,6.7,...,0.3,2.2,2.4,3.5,1.2,0.2,1.9,1.6,8.1,1997-1998
4,4,Cory Alexander,PG,24,SAS,37,3,13.5,1.6,3.9,...,0.2,1.1,1.3,1.9,0.7,0.1,1.3,1.4,4.5,1997-1998

In [4]:
#The above shows that there are 14573 records or rows withint the dataset.
df.shape

(14573, 31)

In [5]:
#This shows the amount of null values in the dataset. 
nan_count = df.isnull().sum()
print(nan_count)

Rk           0
Player       0
Pos          0
Age          0
Tm           0
G            0
GS           0
MP           0
FG           0
FGA          0
FG%         88
3P           0
3PA          0
3P%       2198
2P           0
2PA          0
2P%        154
eFG%        88
FT           0
FTA          0
FT%        749
ORB          0
DRB          0
TRB          0
AST          0
STL          0
BLK          0
TOV          0
PF           0
PTS          0
Year         0
dtype: int64

We can see that the percentages of the FT, FG, eFG and the 3P are all miissing values and although I could remove the values from the data. I would be able to use the data in the other coloumns to ensure that the data is filled in accurately.

Although there is some difference to the required data in terms of calculated percetages (off by 1%-2% each time) I think that keeping the data will be more valuable to try and see 'general' trends.

In [6]:
df_view = df.iloc[:, 8:21]
df_view.head()

    FG   FGA    FG%   3P  3PA    3P%   2P   2PA    2P%   eFG%   FT  FTA    FT%
0  3.3   8.8  0.377  0.2  1.0  0.161  3.2   7.8  0.405  0.386  0.5  0.5  1.000
1  2.4   6.1  0.403  0.1  0.3  0.211  2.4   5.7  0.414  0.409  1.4  2.1  0.672
2  8.0  16.4  0.485  0.3  0.6  0.412  7.7  15.8  0.488  0.493  6.1  7.8  0.784
3  2.9   6.7  0.428  1.1  2.9  0.375  1.8   3.7  0.469  0.510  1.3  1.7  0.784
4  1.6   3.9  0.414  0.5  1.7  0.313  1.1   2.2  0.494  0.483  0.7  1.0  0.676

In [7]:
holder1 = df_view.isnull()
rows_with_missing_values = df_view[holder1.any(axis=1)]

In [8]:
rows_with_missing_values.head(25)

      FG  FGA    FG%   3P  3PA    3P%   2P  2PA    2P%   eFG%   FT  FTA    FT%
27   1.6  2.9  0.537  0.0  0.0    NaN  1.6  2.9  0.537  0.537  1.4  2.1  0.633
39   1.0  2.5  0.400  0.0  0.0    NaN  1.0  2.5  0.400  0.400  1.0  1.0  1.000
41   0.0  0.8  0.000  0.0  0.0    NaN  0.0  0.8  0.000  0.000  0.0  0.0    NaN
53   3.8  8.0  0.471  0.0  0.0    NaN  3.8  8.0  0.471  0.471  2.0  2.7  0.766
67   0.0  0.0    NaN  0.0  0.0    NaN  0.0  0.0    NaN    NaN  0.0  0.0    NaN
70   2.3  4.9  0.465  0.0  0.0    NaN  2.3  4.9  0.465  0.465  1.2  1.5  0.776
74   1.0  2.4  0.416  0.0  0.0    NaN  1.0  2.4  0.416  0.416  0.4  0.7  0.577
78   2.0  2.0  1.000  0.0  0.0    NaN  2.0  2.0  1.000  1.000  2.0  2.0  1.000
84   1.6  3.6  0.449  0.0  0.0    NaN  1.6  3.6  0.449  0.449  0.8  1.3  0.597
88   1.6  3.4  0.452  0.0  0.0    NaN  1.6  3.4  0.452  0.452  1.8  2.4  0.727
96   3.4  7.2  0.477  0.0  0.0    NaN  3.4  7.2  0.477  0.477  0.9  1.3  0.700
97   0.6  1.3  0.444  0.0  0.0    NaN  0.6  1.3  0.444  0.444  0.0  0.0    NaN
98   0.7  1.5  0.444  0.0  0.0    NaN  0.7  1.5  0.444  0.444  0.0  0.0    NaN
99   0.0  0.0    NaN  0.0  0.0    NaN  0.0  0.0    NaN    NaN  0.0  0.0    NaN
106  0.4  1.8  0.222  0.0  0.0    NaN  0.4  1.8  0.222  0.222  0.4  0.8  0.500
108  0.3  1.4  0.200  0.0  0.0    NaN  0.3  1.4  0.200  0.200  0.0  0.0    NaN
109  3.5  6.4  0.548  0.0  0.0    NaN  3.5  6.4  0.548  0.548  1.0  2.2  0.465
125  1.1  2.8  0.406  0.0  0.0    NaN  1.1  2.8  0.406  0.406  0.8  1.8  0.446
141  1.2  2.1  0.571  0.0  0.0    NaN  1.2  2.1  0.571  0.571  0.6  1.0  0.588
160  3.0  6.9  0.428  0.0  0.0    NaN  3.0  6.9  0.428  0.428  1.4  2.1  0.648
174  0.8  2.2  0.364  0.4  1.2  0.333  0.4  1.0  0.400  0.455  0.0  0.0    NaN
175  0.0  4.0  0.000  0.0  3.0  0.000  0.0  1.0  0.000  0.000  0.0  0.0    NaN
176  1.0  1.8  0.571  0.5  0.8  0.667  0.5  1.0  0.500  0.714  0.0  0.0    NaN
182  0.8  1.5  0.529  0.0  0.0    NaN  0.8  1.5  0.529  0.529  0.5  1.0  0.473
184  0.4  0.8  0.500  0.0  0.0    NaN  0.4  0.8  0.500  0.500  0.0  0.0    NaN

In [17]:
df['FG%'].fillna(((df['FG']/df['FGA'])/100), inplace =True)
df.head(70)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Mahmoud Abdul-Rauf,PG,28,SAC,31,0,17.1,3.3,8.8,...,0.2,1.0,1.2,1.9,0.5,0.0,0.6,1.0,7.3,1997-1998
1,2,Tariq Abdul-Wahad,SG,23,SAC,59,16,16.3,2.4,6.1,...,0.7,1.2,2.0,0.9,0.6,0.2,1.1,1.4,6.4,1997-1998
2,3,Shareef Abdur-Rahim,SF,21,VAN,82,82,36.0,8.0,16.4,...,2.8,4.3,7.1,2.6,1.1,0.9,3.1,2.5,22.3,1997-1998
3,4,Cory Alexander,PG,24,TOT,60,22,21.6,2.9,6.7,...,0.3,2.2,2.4,3.5,1.2,0.2,1.9,1.6,8.1,1997-1998
4,4,Cory Alexander,PG,24,SAS,37,3,13.5,1.6,3.9,...,0.2,1.1,1.3,1.9,0.7,0.1,1.3,1.4,4.5,1997-1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,55,Jason Caffey,PF,24,GSW,29,6,24.6,4.3,9.2,...,2.9,3.0,5.9,1.1,0.4,0.1,2.0,3.1,10.9,1997-1998
66,56,Michael Cage,C,36,NJN,79,17,15.2,0.5,1.1,...,1.5,2.4,3.9,0.4,0.6,0.6,0.3,1.3,1.3,1997-1998
67,57,Adrian Caldwell,PF,31,DAL,1,0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1997-1998
68,58,Marcus Camby,C,23,TOR,63,58,31.8,4.9,11.9,...,3.2,4.2,7.4,1.8,1.1,3.7,2.1,3.2,12.1,1997-1998
69,59,Elden Campbell,PF,29,LAL,81,28,22.0,3.6,7.7,...,1.8,3.9,5.6,1.0,0.4,1.3,1.4,2.6,10.1,1997-1998

In [11]:
nan_counts=df.isnull().sum()
nan_counts

Rk           0
Player       0
Pos          0
Age          0
Tm           0
G            0
GS           0
MP           0
FG           0
FGA          0
FG%         88
3P           0
3PA          0
3P%       2198
2P           0
2PA          0
2P%        154
eFG%        88
FT           0
FTA          0
FT%        749
ORB          0
DRB          0
TRB          0
AST          0
STL          0
BLK          0
TOV          0
PF           0
PTS          0
Year         0
dtype: int64